.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml
*.g.dart.bak

android/local.properties
android/.gradle/
android/gradlew
android/gradlew.bat
android/**/GeneratedPluginRegistrant.java

*.log
.DS_Store
